PORT=5005
DATABASE=mongodb://localhost:27017/shoppingnrent
JWT_SECRET_BUYER=buyer-secret-change-me
JWT_SECRET_ADMIN=admin-secret-change-me
JWT_SECRET_USER=user-secret-change-me
JWT_SECRET_BOTH=both-secret-change-me
ENVIRONMENT=development
HOST=localhost
SMTP_PORT=1025
IS_TLS=false
ADMIN_EMAIL=admin@shoppingnrent.local
ADMIN_PASSWORD=adminpass
